<!DOCTYPE html>
<html>
<head>
    <title>楽天市場ランキング</title>
</head>
<body>
    <form action="{% url 'rankings' %}" method="post">
        {% csrf_token %}
        <label for="age">年齢:</label>
        <input type="number" id="age" name="age" required>
        <label for="gender">性別:</label>
        <select id="gender" name="gender" required>
            <option value="0">男性</option>
            <option value="1">女性</option>
        </select>
        <input type="submit" value="ランキングを見る">
    </form>
</body>
</html>